<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container my-3 border w-50">
        <h3>Add Todos</h3>
        <form method="POST" action="/update/{{todo._id}}">
            <div class="mb-3">
                <label for="title" class="form-label">Todo Title</label>
                <input type="text" name='title' class="form-control" 
                value ="{{todo.title}}" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Todo Description</label>
                <input type="text" name='desc' class="form-control" 
                value="{{todo.description}}" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>